.h{
    size: 50px;        
}
.font{
    font-family:sans-serif;
    line-height: 15px;
    font-size:15px;
}
.stars{
    size: 50px;    
}
.reviews{
    color: rgb(163, 160, 160);    
}
.changingPrice{    
    font-size: 25px;
    color:  red;    
}
.originalPrice{
    color:rgb(163,160,160);    
}
.price{
    color:rgb(163,160,160); 
}
/* .exclusive{
    
}
.colour{
    
}
.colourName{
    
}
.colourPicker{
    
} */
.colourBtns{    
    width: 30px; 
    height:30px;
    border-radius: 14px;    
    border-color:white;    
    
    /* background-color:black; */
}
.colourBtns:focus{ 
    box-shadow:0px 1px 8px rgba(0,0,0,0.075) inset,0px 0px 0px 3px rgba(34,34,34,0.5); 
    outline: 2px black; 
}
.button1{    
    color:red;
    background-color: red;     
}
.button2{
    color:orange;
    background-color: orange;    
}
.button3{
    color:yellow;
    background-color: yellow;    
}
.button4{
    color: green;
    background-color: green;    
}
.button5{
    color:blue;
    background-color: blue;    
}
.button6{
    color:indigo;
    background-color: indigo;       
}
.button7{
    color:pink;
    background-color: pink;    
}
.button8{   
    color: purple;
    background-color: purple;    
}
.button9{
    color: gray;
    background-color: gray;    
}
.button10{
    color:black;
    background-color: black;    
}
.button11{
    color: greenyellow;
    background-color: greenyellow;    
}
.button12{
    color:darkcyan;
    background-color: darkcyan; 
}
.button13{
    color: darkorchid;
    background-color:darkorchid;    
}
.button14{
    color:lightskyblue;
    background-color: lightskyblue; 
}
.button15{
    color: royalblue;
    background-color: royalblue;    
}
.button16{
    color:lavender;
    background-color: lavender; 
}
.button17{
    color: tan;
    background-color:tan;    
}
.button18{
    color:gold;
    background-color: gold; 
}
/* .textInfo{
    
}
.counter{
    
}
.addToCart{
    
}
.details{
    
}
.endText{
    
} */
.quan{
    width: 30px; 
    height:30px;
    border-radius: 14px;    
    border-color:white;
    color:white;
    background-color:black;
    text-align:center;
}
.invert{
    width: 200px; 
    height:30px;
    border-radius: 15px;    
    border-color:white;
    color:white;
    background-color:black;
    text-align:center;
}
.Close{
    width: 60px; 
    height:30px;
    border-radius: 10px; 
    border-color:red;
    color:black;
    background-color:lightpink;
    text-align:center;   
    }
.agree{
    width: 60px; 
    height:30px;
    border-radius: 10px;     
    border-color:green;
    color:black;
    background-color:lightgreen;
    text-align:center;
}
.cnt{
    width: 50px; 
    height:30px;
    border-radius: 15px;    
    border-color:black;
    color:black;
    background-color:white;
    text-align:center;

}
.centre{
    margin: 0 auto;
}

